.elements {
    display: flex;
    flex-direction: row;
}

.hero-section {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    margin-top: 2.4rem;
    margin-bottom: .25rem;
    align-self: flex-start; 
}

.main-content {
    font-size: .85rem;
    display: flex;
    flex-direction: column;
    margin: 4rem;
    margin-right: .25rem;
    margin-top: 2.5rem;
    line-height: 1.5;
}

@media screen and (min-width: 1080px) {
    .content-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .hero-section {
        position: sticky;
        top: 2.8rem; /* Slight increase over top-margin gets rid of small stutter when starting to scroll */
    }

    .main-content {
        margin-top: 3.2rem
    }
}

@media screen and (max-width: 1080px) {
    .content-layout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}
