.name {
    white-space: nowrap;
    transition: text-shadow 0.3s ease, transform 0.3s ease;
    font-size: 2.5rem;
}

.name:hover {
    transform: scale(1.05);
    text-shadow: 3px 3px 6px rgba(123, 123, 123);
}

.external-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 1.75rem;
}

.external-links > * {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.75;
    padding-right: 1.2rem; 
}

.external-links > *:hover {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(1.15);
    opacity: 1;
}

.icon {
    height: 100%;
    width: auto;
}
