.project {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    /* 
     * alpha channel of 0 makes border invisible, border is defined on .project
     * despite being made invisible because border padding means that if the 
     * border only appears when projects are hovered over then projects
     * will appear to shift slightly when hovered over 
     */
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: .2rem;
    padding: .4rem;
    transition: background-color .5s ease, border-color .3s ease;
    text-decoration: none;
}

.dimmed {
    transition: opacity .5s ease;
    opacity: 50%;
}

[data-color-scheme='dark'] {
    --hover-border-color: rgb(10, 10, 10); 
    --hover-background-color: rgb(15, 15, 15);
  }
  
  [data-color-scheme='light'] {
    --hover-border-color: rgb(245, 245, 245); 
    --hover-background-color: rgb(240, 240, 240);
  }

.project:hover {
    border-style: solid;
    border-width: .2rem;
    padding: .4rem;
    border-color: var(--hover-border-color);
    background-color: var(--hover-background-color);
}

.project-name {
    align-self: center;
}

.project-content {
    display: flex;
    flex-direction: row;
}

.project-content > * {
    margin: .4rem;
    margin-left: 0rem;
}

.image-container {
    height: 5rem
}

.project-image {
    border-color: rgb(127, 127, 127);
    border-radius: 5px;
    border-style: solid;
    border-width: .1rem;
    height: 100%;
    width: auto;
    max-width: 720px;
    max-height: 408px;
}